:root {
  font-family: "Rubik", sans-serif;
  background-color: rgb(244, 244, 244);
  padding: 1.2rem 3rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
