header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.logo {
  height: 120px;
  width: 120px;
}

.nav-links {
  font-size: 18px;
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

.active {
  border-bottom: 1px solid black;
  font-weight: 500;
}
